extends layout

block section
  div(class="container table-responsive")
    h1(class="add-padding smooth-shadow") Delivered Parcel(s)
    if !error
      table(class="table table-bordered table-hover smooth-shadow atm abm")
        thead(class="table-head")
          th Order ID
          th Product
          th Quantity
          th Weight
          th Price
          th Status
          th

        each order in parcels
          tr
            td #{order.orderId}
            td #{order.product}
            td #{order.quantity}
            td #{order.weight}
            td #{order.price}
            td
              span(class="btn smooth-shadow order-delivered") #{order.status}
            td
              a(href="#{path}#{apiVersion}/parcels/#{order.orderId}", class="btn smooth-shadow") Details
    else
      h1(class="message-error add-padding text-center") #{error}