extends layout

block section
  div(class="container table-responsive")
    h1(class="add-padding smooth-shadow") Parcel(s) in transit
    if Object.keys(parcels).length
      table(class="table table-bordered table-hover smooth-shadow atm abm")
        thead(class="table-head")
          th Order ID
          th Product
          th Quantity
          th Weight
          th Price
          th Status
          th(colspan="2")

        each order in parcels
          tr
            td #{order.orderId}
            td #{order.product}
            td #{order.quantity}
            td #{order.weight}
            td #{order.price}
            td
              span(class="btn smooth-shadow order-in-transit") #{order.status}
            td
              a(href="#{path}parcels/#{order.orderId}", class="btn smooth-shadow") Details
            td
              a(href="#{path}parcels/#{order.orderId}/change", class="btn smooth-shadow") Change
    else
      h1(class="message-error add-padding text-center") Sorry, there is no parcels in transit